.loginModalTitle {
	display: inline-block;
	width: 220px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-left: 8px;
	margin-right: 200px;
}

:global(.adm-card-body) {
	padding-bottom: 5px;
}

:global(.adm-tabs-content) {
	padding: unset;
	:global(.adm-form) {
		--border-inner: unset;
		--border-top: unset;
		--border-bottom: unset;
		:global(.adm-form-item.adm-form-item-horizontal .adm-list-item-content-prefix) {
			padding-right: unset;
		}
		:global(.adm-list-default .adm-list-body) {
			border-top: unset;
			border-bottom: unset;
		}
		:global(.adm-form-item.adm-form-item-horizontal.adm-list-item) {
			--prefix-width: 2.2em;
			background: #f2f2f2;
			border-radius: 20px;
		}
		:global(.adm-list-item) {
			padding-left: unset;
		}
		:global(.adm-form-item-label .adm-form-item-required-asterisk) {
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

:global(.adm-form .adm-form-footer) {
	padding: 30px 12px 12px;
}

:global(.adm-modal-body:not(.adm-modal-with-image)) {
	padding-top: 15px;
}

.userField {
	width: 25px;
	height: 27px;
	background: url("../../../assets/common/user.png") center no-repeat;
	background-size: contain;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translateY(-50%);
}

.codeField {
	display: inline-block;
	width: 45px;
	height: 27px;
	background: url("../../../assets/common/pwd.png") center no-repeat;
	background-size: contain;
	position: absolute;
	left: 40%;
	top: 45%;
	transform: translateY(-50%);
}

// .test {
// 	color: var(--anfeng-primary-color);
// }
